/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .view {
  font-size: 1.4vw;
  display: inline-block;
}
.exp {
  font-size: 2vw !important;
}
.toplinks {
  font-size: 1.5vw !important;
}

@media (max-width: 515px) {
  .toplinks {
    font-size: 2vw !important;
  }
  .view {
    font-size: 10vw !important;
  }
  #mission {
    font-size: 9px !important;
  }
}

@media (max-width: 525px) {
  #exp {
    font-size: 10px !important;
  }
  #tech{
    font-size: 10px !important;
  }
  #bench {
    font-size: 10px !important;
  }

}

@media (max-width: 888px) {
  .view {
    font-size: 1.9vw !important;
  }
  .toplinks {
    font-size: 2vw !important;
  }
}


body {
  background-color: white !important;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.content {
    width: 100%; /* or whatever is required */
    text-align: center; /* ensures the image is always in the h-middle */
    overflow: hidden; /* hide the cropped portion */
}

img {
    position: relative; /* allows repositioning */
    width: 100%
}
#resume {
  padding: 25px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/*.top {
  background-image: url("../peach1.jpg");
  background-size: cover;
}*/
